#cover {
    background: url(cover.jpg);
    background-size: cover;
}
#logo {
    margin: -60px;
    z-index: 1;
    padding: 5px;
    background: white;
    border: solid 1px #555;
}
#profile-buttons {
    display: none;
    margin-top: -42px;
}
#loading {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    background: #eee;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
